<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
       http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

  <import resource="classpath:/spring/devProfileApplicationContext.xml" />
  <import resource="classpath:/spring/openshiftProfileApplicationContext.xml" />
  <import resource="classpath:/spring/prodProfileApplicationContext.xml" />

  <bean id="kerberosLogin" class="org.kitesdk.spring.hbase.example.service.KerberosLoginService"
    depends-on="hbasePropertyConfigurer">
    <constructor-arg index="0" value="${application.kerberos.principal}"/>
    <constructor-arg index="1" value="${application.kerberos.keytab}"/>
  </bean>

  <bean id="webPageSnapshotUri" class="java.lang.String"
        depends-on="kerberosLogin,hbasePropertyConfigurer">
    <constructor-arg index="0"
      value="dataset:hbase:${hbase.zk.host}:${hbase.zk.port}/webpagesnapshots.WebPageSnapshotModel" />
  </bean>

  <bean id="webPageRedirectUri" class="java.lang.String"
        depends-on="kerberosLogin,hbasePropertyConfigurer">
    <constructor-arg index="0"
      value="dataset:hbase:${hbase.zk.host}:${hbase.zk.port}/webpageredirects.WebPageRedirectModel" />
  </bean>

  <bean id="conversionService"
    class="org.springframework.context.support.ConversionServiceFactoryBean">
    <property name="converters">
      <set>
        <bean
          class="org.kitesdk.spring.hbase.example.model.converter.WebPageSnapshotMetaConverter" />
        <bean
          class="org.kitesdk.spring.hbase.example.model.converter.WebPageSnapshotContentConverter" />
      </set>
    </property>
  </bean>

</beans>